name: Deploy Preview App
run-name: Deploy Preview App pr-${{ github.event.pull_request.number }}

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  deploy:
    concurrency: previewapps
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Create Preview app with Tapitalee
        uses: tapitalee/ghactions/create-preview@main
        with:
          tapit-token: ${{ secrets.TAPIT_TOKEN_PREVIEW }}
          preview_app_name: "bigdemo-pr-${{ github.event.pull_request.number }}"
          delete_in_days: 3
          domain: "pr-${{ github.event.pull_request.number }}.previews.demohost.click"

      - name: Build container image
        uses: tapitalee/ghactions/image-build@main
        with:
          tapit-token: ${{ secrets.TAPIT_TOKEN_PREVIEW }}
          dockerfile: Dockerfile
          app_name: "bigdemo-pr-${{ github.event.pull_request.number }}"
          cache: gha

      - name: Wait for Add-ons
        uses: tapitalee/ghactions/wait-for-addons@main
        with:
          tapit-token: ${{ secrets.TAPIT_TOKEN_PREVIEW }}
          app_name: "bigdemo-pr-${{ github.event.pull_request.number }}"


      - name: Deploy with Tapitalee
        uses: tapitalee/ghactions/create-deploy@main
        with:
          tapit-token: ${{ secrets.TAPIT_TOKEN_PREVIEW }}
          app_name: "bigdemo-pr-${{ github.event.pull_request.number }}"
